body {
  background-color: #C390D4;
}

h1 {
    font-family: Arial, Times, serif;
        color: white;      
        
}

h2 {
  font-family: Arial, Times, serif;
      color: white;
}

h3 {
  font-family: Arial, Times, serif;
      color: white;
}