body { 
    background-image: url('http://www.codyduncan.com/blogimages/2013/12/lofoten-islands-42-ryten-kvalvika.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 1200px;
    background-blend-mode: lighten;
}

h1 {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font: bold;
        color: white; 
        text-shadow: 2px 2px 1px #000,
                     -2px -2px 1px #000,
                     -2px 2px 1px #000,
                      2px -2px 1px #000;
     
}


label, h3, p {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
        color: white;  
        text-shadow: 2px 2px 1px #000,
                     -2px -2px 1px #000,
                     -2px 2px 1px #000,
                      2px -2px 1px #000;
    
}

h2 {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
      color: white;
      text-shadow: 2px 2px 1px #000,
                   -2px -2px 1px #000,
                   -2px 2px 1px #000,
                    2px -2px 1px #000;

}

body
    {
        width:80%;
        margin-left:auto;
        margin-right:auto;
    }

    .header img {
      float: left;
      width: 200px;
      height: 100px;
      background: #555;
    }

    .header h1 {
      position: relative;
      top: 18px;
      left: 10px;
    }


